:root {
	--margin10: 10px;
}

body {
	display: flex;
	justify-content: center;
	margin: 100px auto;
	background: hsl(217, 54%, 11%);
}

section {
	background: hsl(216, 50%, 16%);
	color: white;
	line-height: 1.5;
	font-family: sans-serif;
	box-sizing: border-box;
	width: 405px;
	border-radius: 15px;
	padding: 25px;
}

section img {
	width: 100%;
}

section h1 {
	font-size: 25px;
	font-weight: bold;
	margin-top: var(--margin10);
}

section h1:hover {
	color: hsl(178, 100%, 50%);
}

section p {
	margin-top: var(--margin10);
	font-size: 18px;
	color: hsl(215, 51%, 70%);
}

section figure {
	display: flex;
	justify-content: space-between;
	margin-top: var(--margin10);
}

section figure img {
	display: flex;
	justify-content: space-between;
	margin-top: var(--margin10);
	width: 5%;
	height: 5%;
}

section figure b {
	color: hsl(178, 100%, 50%);
	margin-top: var(--margin10);
}

section hr {
	border: 0;
	border-top: 0.5px solid hsl(178, 100%, 50%);
}

section main {
	margin-top: var(--margin10);
	display: inline-flex;
}

section main img {
	box-sizing: border-box;
	border: solid 2px white;
	border-radius: 100px;
	width: 15%;
	margin-right: var(--margin10);
}

section main h2 {
	display: inline-flex;
	justify-content: center;
	margin-left: var(--margin10);
}

section main h2 b {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: var(--margin10);
}
